<a href="https://colab.research.google.com/github/ria1994maitra/Practice_Codes/blob/main/Numpy(contibued)_padhai_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Week-10**

**PANDAS(Continued)**

In [1]:
import numpy as np
import pandas as pd

## Creating Dataframe object

In [2]:
arr = np.random.randint(0,10, (5,3))

In [3]:
arr

array([[4, 1, 9],
       [3, 2, 9],
       [6, 1, 3],
       [2, 4, 9],
       [8, 4, 9]])

In [4]:
df = pd.DataFrame(arr)

In [5]:
df

   0  1  2
0  4  1  9
1  3  2  9
2  6  1  3
3  2  4  9
4  8  4  9

In [6]:
df.values

array([[4, 1, 9],
       [3, 2, 9],
       [6, 1, 3],
       [2, 4, 9],
       [8, 4, 9]])

In [7]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [9]:
for c in df.columns:
    print(c)

0
1
2

In [10]:
df.values[0]

array([4, 1, 9])

In [11]:
df.index = ["R1","R2","R3","R4","R5"]
df.columns = ["C1","C2","C3"]

In [12]:
df

    C1  C2  C3
R1   4   1   9
R2   3   2   9
R3   6   1   3
R4   2   4   9
R5   8   4   9

In [13]:
df.loc["R3","C2"]

1

In [14]:
df.iloc[2,1]

1

In [15]:
type(df.iloc[2:4,1:3])

pandas.core.frame.DataFrame

In [16]:
df.loc["R3":"R5","C2":"C3"]

    C2  C3
R3   1   3
R4   4   9
R5   4   9

In [17]:
df.iloc[0]

C1    4
C2    1
C3    9
Name: R1, dtype: int64

In [18]:
df.iloc[:,0]

R1    4
R2    3
R3    6
R4    2
R5    8
Name: C1, dtype: int64

In [19]:
df.shape

(5, 3)

In [20]:
df.T

    R1  R2  R3  R4  R5
C1   4   3   6   2   8
C2   1   2   1   4   4
C3   9   9   3   9   9

Task on Creating Dataframes

In [21]:
def create_df(nRows, nCols, maxRand = 10):
    arr = np.random.randint(0, maxRand, (nRows, nCols))
    df = pd.DataFrame(arr)
    df.index = ["R" + str(x) for x in np.arange(1, nRows + 1)]
    df.columns = ["C" + str(x) for x in np.arange(1, nCols + 1)]
    return df

In [22]:
create_df(5,3)

    C1  C2  C3
R1   0   8   5
R2   9   2   2
R3   9   1   0
R4   4   1   5
R5   2   9   6

In [23]:
create_df(2,5)

    C1  C2  C3  C4  C5
R1   4   8   6   6   1
R2   3   6   0   5   6

In [24]:
mass = pd.Series([0.33,4.87,5.97,0.642,1898,568,86.8,102,0.0146],
                 index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])
diameter = pd.Series([4879,12104,12756,3475,6792,142984,120536,51118,42528,2370],
                     index=['Mercury','Venus','Earth','Moon','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [25]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [26]:
diameter

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     42528
Pluto        2370
dtype: int64

In [27]:
df = pd.DataFrame({'Mass':mass,"Diameter":diameter})

In [28]:
df

              Mass  Diameter
Earth       5.9700     12756
Jupiter  1898.0000    142984
Mars        0.6420      6792
Mercury     0.3300      4879
Moon           NaN      3475
Neptune   102.0000     42528
Pluto       0.0146      2370
Saturn    568.0000    120536
Uranus     86.8000     51118
Venus       4.8700     12104

In [29]:
df['Mass']

Earth         5.9700
Jupiter    1898.0000
Mars          0.6420
Mercury       0.3300
Moon             NaN
Neptune     102.0000
Pluto         0.0146
Saturn      568.0000
Uranus       86.8000
Venus         4.8700
Name: Mass, dtype: float64

In [30]:
df['Diameter']

Earth       12756
Jupiter    142984
Mars         6792
Mercury      4879
Moon         3475
Neptune     42528
Pluto        2370
Saturn     120536
Uranus      51118
Venus       12104
Name: Diameter, dtype: int64

In [31]:
df['Mass']['Earth']

5.97

In [32]:
df.Mass.Earth

5.97

In [33]:
df['pop'] =0

In [34]:
df

              Mass  Diameter  pop
Earth       5.9700     12756    0
Jupiter  1898.0000    142984    0
Mars        0.6420      6792    0
Mercury     0.3300      4879    0
Moon           NaN      3475    0
Neptune   102.0000     42528    0
Pluto       0.0146      2370    0
Saturn    568.0000    120536    0
Uranus     86.8000     51118    0
Venus       4.8700     12104    0

In [35]:
df['pop']['Earth'] = 8000000000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
df

              Mass  Diameter         pop
Earth       5.9700     12756  8000000000
Jupiter  1898.0000    142984           0
Mars        0.6420      6792           0
Mercury     0.3300      4879           0
Moon           NaN      3475           0
Neptune   102.0000     42528           0
Pluto       0.0146      2370           0
Saturn    568.0000    120536           0
Uranus     86.8000     51118           0
Venus       4.8700     12104           0

In [37]:
df['Mass'] is df.Mass

True

In [38]:
df['pop'] is df.pop

False

In [39]:
df

              Mass  Diameter         pop
Earth       5.9700     12756  8000000000
Jupiter  1898.0000    142984           0
Mars        0.6420      6792           0
Mercury     0.3300      4879           0
Moon           NaN      3475           0
Neptune   102.0000     42528           0
Pluto       0.0146      2370           0
Saturn    568.0000    120536           0
Uranus     86.8000     51118           0
Venus       4.8700     12104           0

In [40]:
#df.pop

In [41]:
df

              Mass  Diameter         pop
Earth       5.9700     12756  8000000000
Jupiter  1898.0000    142984           0
Mars        0.6420      6792           0
Mercury     0.3300      4879           0
Moon           NaN      3475           0
Neptune   102.0000     42528           0
Pluto       0.0146      2370           0
Saturn    568.0000    120536           0
Uranus     86.8000     51118           0
Venus       4.8700     12104           0

In [42]:
df.loc['Earth']

Mass        5.970000e+00
Diameter    1.275600e+04
pop         8.000000e+09
Name: Earth, dtype: float64

In [43]:
df.loc[:,'Mass']

Earth         5.9700
Jupiter    1898.0000
Mars          0.6420
Mercury       0.3300
Moon             NaN
Neptune     102.0000
Pluto         0.0146
Saturn      568.0000
Uranus       86.8000
Venus         4.8700
Name: Mass, dtype: float64

In [44]:
def create_mean_row(df):
    #df.loc['Col_Mean'] = [np.mean(df[Col]) for Col in df.columns]
    df.loc['Col_Mean'] = df.mean()
    return df

In [45]:
df

              Mass  Diameter         pop
Earth       5.9700     12756  8000000000
Jupiter  1898.0000    142984           0
Mars        0.6420      6792           0
Mercury     0.3300      4879           0
Moon           NaN      3475           0
Neptune   102.0000     42528           0
Pluto       0.0146      2370           0
Saturn    568.0000    120536           0
Uranus     86.8000     51118           0
Venus       4.8700     12104           0

In [46]:
df.loc['Col_Mean'] = 0

In [47]:
df

               Mass  Diameter         pop
Earth        5.9700     12756  8000000000
Jupiter   1898.0000    142984           0
Mars         0.6420      6792           0
Mercury      0.3300      4879           0
Moon            NaN      3475           0
Neptune    102.0000     42528           0
Pluto        0.0146      2370           0
Saturn     568.0000    120536           0
Uranus      86.8000     51118           0
Venus        4.8700     12104           0
Col_Mean     0.0000         0           0

In [48]:
df

               Mass  Diameter         pop
Earth        5.9700     12756  8000000000
Jupiter   1898.0000    142984           0
Mars         0.6420      6792           0
Mercury      0.3300      4879           0
Moon            NaN      3475           0
Neptune    102.0000     42528           0
Pluto        0.0146      2370           0
Saturn     568.0000    120536           0
Uranus      86.8000     51118           0
Venus        4.8700     12104           0
Col_Mean     0.0000         0           0

In [49]:
df.loc['Col_Mean'] = 0

In [50]:
df

               Mass  Diameter         pop
Earth        5.9700     12756  8000000000
Jupiter   1898.0000    142984           0
Mars         0.6420      6792           0
Mercury      0.3300      4879           0
Moon            NaN      3475           0
Neptune    102.0000     42528           0
Pluto        0.0146      2370           0
Saturn     568.0000    120536           0
Uranus      86.8000     51118           0
Venus        4.8700     12104           0
Col_Mean     0.0000         0           0

In [51]:
np.mean(df['Mass'])

266.66266

In [52]:
df.drop('Col_Mean', inplace = True)

In [53]:
df.drop('pop',axis = 1, inplace = True)

In [54]:
df

              Mass  Diameter
Earth       5.9700     12756
Jupiter  1898.0000    142984
Mars        0.6420      6792
Mercury     0.3300      4879
Moon           NaN      3475
Neptune   102.0000     42528
Pluto       0.0146      2370
Saturn    568.0000    120536
Uranus     86.8000     51118
Venus       4.8700     12104

In [55]:
np.mean(df['Mass'])

296.29184444444445

In [56]:
df.loc['Col_Mean'] = [np.mean(df['Mass']), np.mean(df['Diameter'])]

In [57]:
df

                 Mass  Diameter
Earth        5.970000   12756.0
Jupiter   1898.000000  142984.0
Mars         0.642000    6792.0
Mercury      0.330000    4879.0
Moon              NaN    3475.0
Neptune    102.000000   42528.0
Pluto        0.014600    2370.0
Saturn     568.000000  120536.0
Uranus      86.800000   51118.0
Venus        4.870000   12104.0
Col_Mean   296.291844   39954.2

In [58]:
df.drop('Col_Mean')

              Mass  Diameter
Earth       5.9700   12756.0
Jupiter  1898.0000  142984.0
Mars        0.6420    6792.0
Mercury     0.3300    4879.0
Moon           NaN    3475.0
Neptune   102.0000   42528.0
Pluto       0.0146    2370.0
Saturn    568.0000  120536.0
Uranus     86.8000   51118.0
Venus       4.8700   12104.0

In [59]:
create_mean_row(df)

                 Mass  Diameter
Earth        5.970000   12756.0
Jupiter   1898.000000  142984.0
Mars         0.642000    6792.0
Mercury      0.330000    4879.0
Moon              NaN    3475.0
Neptune    102.000000   42528.0
Pluto        0.014600    2370.0
Saturn     568.000000  120536.0
Uranus      86.800000   51118.0
Venus        4.870000   12104.0
Col_Mean   296.291844   39954.2

In [60]:
df = create_df(5,3)

In [61]:
df

    C1  C2  C3
R1   7   5   1
R2   5   7   2
R3   3   4   9
R4   7   3   5
R5   1   1   1

In [62]:
df.mean()

C1    4.6
C2    4.0
C3    3.6
dtype: float64

In [63]:
df.mean(axis =1)

R1    4.333333
R2    4.666667
R3    5.333333
R4    5.000000
R5    1.000000
dtype: float64

In [64]:
df['Row_Mean'] = df.mean(axis = 1)

In [65]:
df.loc['Col_Mean'] = df.mean()

In [66]:
df

           C1   C2   C3  Row_Mean
R1        7.0  5.0  1.0  4.333333
R2        5.0  7.0  2.0  4.666667
R3        3.0  4.0  9.0  5.333333
R4        7.0  3.0  5.0  5.000000
R5        1.0  1.0  1.0  1.000000
Col_Mean  4.6  4.0  3.6  4.066667

In [67]:
df.median()

C1          4.8
C2          4.0
C3          2.8
Row_Mean    4.5
dtype: float64

In [68]:
df.min()

C1          1.0
C2          1.0
C3          1.0
Row_Mean    1.0
dtype: float64

In [69]:
df.max()

C1          7.000000
C2          7.000000
C3          9.000000
Row_Mean    5.333333
dtype: float64

In [70]:
df.quantile(0.25)

C1          3.400000
C2          3.250000
C3          1.250000
Row_Mean    4.133333
Name: 0.25, dtype: float64

In [71]:
df.drop("Row_Mean", axis = 1)

           C1   C2   C3
R1        7.0  5.0  1.0
R2        5.0  7.0  2.0
R3        3.0  4.0  9.0
R4        7.0  3.0  5.0
R5        1.0  1.0  1.0
Col_Mean  4.6  4.0  3.6

In [72]:
df.describe()

             C1    C2        C3  Row_Mean
count  6.000000  6.00  6.000000  6.000000
mean   4.600000  4.00  3.600000  4.066667
std    2.332381  2.00  3.072458  1.569147
min    1.000000  1.00  1.000000  1.000000
25%    3.400000  3.25  1.250000  4.133333
50%    4.800000  4.00  2.800000  4.500000
75%    6.500000  4.75  4.650000  4.916667
max    7.000000  7.00  9.000000  5.333333

In [74]:
mass = pd.Series([0.33, 4.87,5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],
                 index = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])
diameter =pd.Series([4879, 12104,12756, 3475,6792,142984,120536,51118,49528,2370],
                    index = ['Mercury','Venus','Earth','Moon','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [75]:
planets = pd.DataFrame({'mass':mass, 'diameter':diameter})

In [76]:
planets.describe()

              mass      diameter
count     9.000000      10.00000
mean    296.291844   40654.20000
std     627.786429   51541.39142
min       0.014600    2370.00000
25%       0.642000    5357.25000
50%       5.970000   12430.00000
75%     102.000000   50720.50000
max    1898.000000  142984.00000

In [77]:
import seaborn as sns

In [79]:
df= sns.load_dataset("planets")

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [81]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [82]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [83]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

Go through each row of the dataframe and delete it(drop) if any of the columns is null

In [84]:
for r in df.index:
    for c in df.columns:
        if pd.isnull(df.loc[r,c]):
            df.drop(r, inplace = True)
            break

In [85]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [86]:
for i,r in df.iterrows():
    print(i)
    print(r)
    break

0
method            Radial Velocity
number                          1
orbital_period              269.3
mass                          7.1
distance                     77.4
year                         2006
Name: 0, dtype: object

In [88]:
for i, r in df.iterrows():
    if pd.isnull(r).any():
        df.drop(i, inplace = True)

In [89]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [90]:
df.dropna(inplace = True)

In [91]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

 Filter and show only those rows which have planets that are found in the 2010s and method as "Radial Velocity" or "Transit" and distance is large(>75 percentile)

In [92]:
df_ = df.copy()
per_75 = df.distance.quantile(0.75)
for i, r in df_.iterrows():
    if r['year']<2010:
        df_.drop(i, inplace = True)
        continue
    if r['method'] != "Radial Velocity" and r["method"] != "Transit":
        df_.drop(i, inplace = True)
        continue
    if r['distance']< per_75:
        df_.drop(i, inplace = True)
        continue

In [93]:
df_ = df.copy()
df_ = df_[(df_['year'] >= 2010) & ((df_['method'] == 'Radial Velocity')|
                                   (df_['method'] == 'Transit')) &
          (df_['distance'] >per_75)]

In [94]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

Modify the method column to have only the abbreaviation of each method

In [95]:
df.method.unique()

array(['Radial Velocity', 'Transit'], dtype=object)

In [96]:
s = "Orbital Brightness Modulation"

In [98]:
''.join([x[0] for x in s.split(' ')])

'OBM'

In [101]:
short_names = {}
for s in df.method.unique():
    short_names = ''.join([x[0] for x in s.split(' ')])

In [102]:
print(short_names)

T

In [103]:
for i, r in df.iterrows():
    df.loc[i, 'short_method'] = short_names.get(r['method'], r['method'])

AttributeError: ignored

In [104]:
df.tail()

              method  number  orbital_period   mass  distance  year
640  Radial Velocity       1       111.70000  2.100     14.90  2009
641  Radial Velocity       1         5.05050  1.068     44.46  2013
642  Radial Velocity       1       311.28800  1.940     17.24  1999
649          Transit       1         2.70339  1.470    178.00  2013
784  Radial Velocity       3       580.00000  0.947    135.00  2012

In [105]:
df = sns.load_dataset('planets')

In [106]:
def shorten_method(s):
    return short_names.get(s,s)

In [107]:
df['short_method'] = df['method'].apply(shorten_method)

AttributeError: ignored

Count the number of the planets discovered for each method type
1. Split the dataframe into smaller chunks (in this case they should have the same method name)
2. Apply some function in each smaller chunk(in this case it is the count function)
3. Agrregate the results from each chunk together

In [109]:
d = {}
for m in df.method.unique():
    d[m] = df[df.method == m]['method'].count()
print(d)

{'Radial Velocity': 553, 'Imaging': 38, 'Eclipse Timing Variations': 9, 'Transit': 397, 'Astrometry': 2, 'Transit Timing Variations': 4, 'Orbital Brightness Modulation': 3, 'Microlensing': 23, 'Pulsar Timing': 5, 'Pulsation Timing Variations': 1}

In [110]:
df.groupby('method')['method'].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: method, dtype: int64

In [111]:
d = {}
for m in df.method.unique():
    d[m] = df[df.method ==m]['distance'].mean()
print(d)

{'Radial Velocity': 51.60020754716983, 'Imaging': 67.7159375, 'Eclipse Timing Variations': 315.36, 'Transit': 599.2980803571429, 'Astrometry': 17.875, 'Transit Timing Variations': 1104.3333333333333, 'Orbital Brightness Modulation': 1180.0, 'Microlensing': 4144.0, 'Pulsar Timing': 1200.0, 'Pulsation Timing Variations': nan}

In [112]:
df.groupby('method')['distance'].mean()

method
Astrometry                         17.875000
Eclipse Timing Variations         315.360000
Imaging                            67.715937
Microlensing                     4144.000000
Orbital Brightness Modulation    1180.000000
Pulsar Timing                    1200.000000
Pulsation Timing Variations              NaN
Radial Velocity                    51.600208
Transit                           599.298080
Transit Timing Variations        1104.333333
Name: distance, dtype: float64

FInd out what fraction of planets have been found in the last decade (i.e,. in 2010) across each method type
1. Filter the data for given condition (in this case planet found in last decade)
2. Split( in this case across method)e
3. Apply (in this case just count)
4. Aggregate (to represent the final result)

In [113]:
s_2010s = df[df.year >= 2010].groupby('method')['method'].count()

In [114]:
s_allTime = df.groupby('method')['method'].count()

In [115]:
s_2010s/s_allTime

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64

Find a dataset of Nifty numbers for 2018 and 2019 - daily numbers open, close, high, low