In [1]:
#This is a Python Program to find the largest number in a list

In [21]:
a=[]
n=int(input("Enter Number of Elements"))
for i in range(1,n+1):
  b=int(input("Enter Element"))
  a.append(b)
a.sort()
print('The largest element is:',a[n-1])

Enter Number of Elements5
Enter Element6
Enter Element7
Enter Element3
Enter Element5
Enter Element2
The largest element is: 7

In [7]:
c=[3,67.0,0.5,69.4]

In [8]:
c.sort()

In [22]:
c[-2]

67.0

In [25]:
# Python program to find the Second larget number in the list:

a=[]
n=int(input("Enter number of element: "))
for i in range(1,n+1):
  b=int(input('Enter Elements: '))
  a.append(b)
a.sort()
print('The second largest number: ',a[n-2])

Enter number of element: 6
Enter Elements: 6
Enter Elements: 57
Enter Elements: 54
Enter Elements: 34
Enter Elements: 78
Enter Elements: 66
The second largest number:  66

In [26]:
#This is a Python Program to put the even and odd elements in a list into two different lists.

a=[]
n=int(input('Enter Number of Elements: '))
for i in range(1,n+1):
  b=int(input('Enter Elements: '))
  a.append(b)
even=[]
odd=[]
for j in a:
  if (j%2==0):
    even.append(j)
  else:
    odd.append(j)
print(even)
print(odd)

Enter Number of Elements: 6
Enter Elements: 7
Enter Elements: 4
Enter Elements: 3
Enter Elements: 5
Enter Elements: 5
Enter Elements: 9
[4]
[7, 3, 5, 5, 9]

In [29]:
# Python program to merge two list and sort it

a=[]
b=[]
n=int(input("Enter number of elements: "))
for i in range(1,n+1):
  c=int(input('Enter elements: '))
  a.append(c)
m=int(input('Enter number of elements: '))
for j in range(1,m+1):
  d=int(input("Enter elements: "))
  b.append(d)
new=a+b
new.sort()
print("New List: ",new)

Enter number of elements: 6
Enter elements: 5
Enter elements: 45
Enter elements: 4
Enter elements: 23
Enter elements: 45
Enter elements: 32
Enter number of elements: 4
Enter elements: 23
Enter elements: 34
Enter elements: 21
Enter elements: 34
New List:  [4, 5, 21, 23, 23, 32, 34, 34, 45, 45]