<a href="https://colab.research.google.com/github/ria1994maitra/Practice_Codes/blob/main/Python_Coding_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q 1.

In [ ]:
class Acc:
    def __init__(self,id):
        self.id = id
        id = 555
acc = Acc(111)
print(acc.id)

111

Explanation: Instantiation of the class "Acc" automatically calls the method__intit__ and passess the object as the self parameter. 111 is aasigned to data attribute of the object called id. The value "555" is not retained in the object as it is not assigned to a data attribute of the class/pbject. So, the output od the program is "111"

## Q 2.

In [ ]:
for i in range(2):
    print(i)

for i in range(4,6):
    print(i)

0
1
4
5

## Q 3.

In [ ]:
values = [1,2,3,4]
numbers = set(values)

def checknums(num):
    if num in numbers:
        return True
    else:
        return False

for i in filter(checknums, values):
    print(i)

1
2
3
4

filter(function, sequence)
Parameters:
function: function that tests if each element of a 
sequence true or not.
sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.
Returns:
returns an iterator that is already filtered.

## Q 4.

In [ ]:
counter = {}

def addToCounter(country):
    if country in counter:
        counter[country] += 1
    else:
        counter[country] = 1

In [ ]:
addToCounter('China')
addToCounter('Japan')
addToCounter('china')
addToCounter('China')

print(len(counter))

3

In [ ]:
counter

{'China': 2, 'Japan': 1, 'china': 1}

The task of "len" function is to return number of keys in a dictionary. Here 3 keys are added to the dictionary "country" using the "add to counter" function.
Please note carefully the keys to a dictionary are case sensitive.

In [ ]:
def dfFunction():
    "DataTrained is cool website for boosting up technical skills"
    return 1
print(dfFunction.__doc__[15:19])

cool

Explanation: There is a docstring defined for this method, by putting a string on the first line after the start of the function definition. The docstring can be referenced using the __doc__attribute of the function. Hence it prints the indexed string

## Q 6.

In [ ]:
class A(object):
    val = 1
class B(A):
    pass
class C(A):
    pass
print(A.val, B.val, C.val)
B.val = 2
print(A.val, B.val, C.val)
A.val = 3
print(A.val, B.val, C.val)

1 1 1
1 2 1
3 2 3

## Q 7.

In [ ]:
check1 = ['learn','Quiz','Practice','Cntribute']
check2 = check1
check3 = check1[:]

In [ ]:
check2[0] = "Code"
check3[1] = "Mcq"

In [ ]:
count = 0
for c in (check1, check2, check3):
    if c[0] == "Code":
        count += 1
    if c[1] == 'Mcq':
        count += 10 
print(count)

12

In [ ]:
check3

['learn', 'Mcq', 'Practice', 'Cntribute']

In [ ]:
check2

['Code', 'Quiz', 'Practice', 'Cntribute']

In [ ]:
check1

['Code', 'Quiz', 'Practice', 'Cntribute']

When assignment check1 to check2, we create a second reference to the same list. Changes to check2 affects check1. When assigning the slice of all elements in check1 to check3, we are creating a full copy of check1 which can be modified independently(i.e, any changes in check3 will not affect check1).
So, while checking check1"Code gets matched and count increases to 1, but Mcq does not gets matched since its available only in check3.
Now checking check2 here alsoe "Code" gets matched result in count value to 2. Finally while checking check 3 which is separate from both check1 and check2 here only Mcq gets matched and count becomes 12.

## Q 8.

In [ ]:
def dataTr(x,I=[]):
    for i in range(x):
        I.append(i*i)
    print(I)

dataTr(2)
dataTr(3,[3,2,1])
dataTr(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

In [ ]:
from random import randrange
L = list()
for x in range(5):
    L.append(randrange(0,100,2)-10)

In [ ]:
L

[76, 64, 4, 88, 56]

In [ ]:
from math import*
a= 2.13
b=3.7777
c=-3.12

In [ ]:
print(int(a),floor(b),ceil(c),fabs(c))

2 3 -3 3.12

In [1]:
x = "cat"
def f():
    x = "bird"
    def g():
        x = "dog"
        y = "fish"
        print(x)
    g()
f()

dog

In [2]:
def f(x, y,z):
    return x + y + z
f(1, z=3, y =2)

6

In [3]:
def f(x, y, z=3):
    return x+y+z
f(1,2)

6

In [4]:
def f(x, y, z):
    return x + y + z
f(x=1, y=2, z=3)

6

In [5]:
def f(x,y,z):
    return x + y + z
f(z=3, y=2, 1)

SyntaxError: ignored

In [6]:
a = 0
for i in range(10):
    if i == 2:
        pass
    else: 
        a = i

In [7]:
a

9

In [8]:
months = dict(January=1, february=2, March=3)

In [9]:
for k, v in months.items():
    print(k,v)

January 1
february 2
March 3