<a href="https://colab.research.google.com/github/ria1994maitra/Practice_Codes/blob/main/w3resource(LIST).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a Python program to sum all the items in a list.
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,3]))

6

In [ ]:
#Multiply all the items in a list
def multiply_list(items):
    tot = 1
    for x in items:
        tot = tot*x
    return tot
print(multiply_list([1,2,3,4]))

24

In [ ]:
#3. Write a Python program to get the largest number from a list.
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([2, 3, 8, 0]))

8

In [ ]:
def max_num(list):
    max = list[0]
    for a in list:
        if a> max:
            max = a
    return max
print(max_num([1,23,4,1]))

23

In [ ]:
#4. Write a Python program to get the smallest number from a list.

def smal_num(list):
    min = list[0]
    for a in list:
        if a<min:
            min =a
    return min
print(smal_num([2,4,2,1,0]))

0

In [ ]:
#5. Count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

def match_word(word):
    count = 0
    for word in word:
        if len(word)>1 and word[0] == word[-1]:
            count = count + 1
    return count
print(match_word(['aria','ria','xyz']))

1

In [1]:
# 7. Write a Python program to remove duplicates from a list

a= [10,10,30,20,25,26.27,27]
dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{10, 20, 25, 26.27, 27, 30}

In [2]:
# 8. Write a Python program to check a list is empty or not

l = []
if not l:
    print("list is empty")

list is empty

In [3]:
# 9. Write a python program to clone or copy a lsit.

original_list = [10, 24, 44, 23 , 4]
new_list = list(original_list)
print(original_list)
print(new_list)

[10, 24, 44, 23, 4]
[10, 24, 44, 23, 4]

In [4]:
 #11. Write a Python function that takes two lists and returns True if they have at least one common member

 def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x==y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

In [1]:
#12. Write a python program to print a specified list after removing the 0th, 4th and 5th elements.

color = ['green','yellow','black','white']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['yellow', 'black', 'white']

In [3]:
#14. Write a Python program to print the numbers of a specified list after removing even numbers from it

num = [7,8, 129, 25, 44, 27,30]
num = [x for x in num if x%2!= 0]
print(num)

[7, 129, 25, 27]

In [4]:
#18. Write a python to generate all permutations of a list in python.

import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [5]:
# 19. Write a Python program to get the difference between the two lists.

list1 = [1,3,5,7,9]
list2 = [1,2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

In [7]:
# 20. Write a python program access the index of a list.

nums = [5,6,7,8,9]
for i, j in enumerate(nums):
    print(i,j)

0 5
1 6
2 7
3 8
4 9

In [8]:
# 21. Write a python program to convert a list of characters into a string
s= ['a','b','c','d']
str1 = ''.join(s)
print(str1)

abcd

In [9]:
#22. Write a python program to find the index of an item in a specified list.

num = [10, 30, 4, -6]
print(num.index(30))

1

In [10]:
#24. Write a Python program to append a list to the second list.

import itertools

original_list = [[2,4,3], [1,5,6], [9],[7,9,0]]
new_merged_list = list(itertools.chain(*original_list))
print(new_merged_list)

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

In [2]:
#25. Write a python program to select an item randomly from a list.

import random
color_list = ['Red','Blue','Green','White','Black']
print(random.choice(color_list))

White

In [3]:
#27. Write a python program to find the second smallest no. in a list.
l=[9,4,5,6,7,8]
l.sort()
l[1]

5

In [4]:
#28. Write a python program to find the second largest number in a list

l=[1,2,3,4,5,6,7,8,9]
l.sort()
l[-2]

8

In [5]:
#29. Write a python program to get unique values from a list

l= [9,9,2,3,2,4,4,7,6,45,36,45,2,3]
my_set = set(l)
new_list = list(my_set)
new_list

[2, 3, 4, 36, 6, 7, 9, 45]

In [6]:
#30. Write a python program to get the frequency of the elements in a list

import collections
my_list = [8,3,4,3,4,4,4,2,1,12,3,4,7,92,45,45]
ctr = collections.Counter(my_list)
ctr

Counter({1: 1, 2: 1, 3: 3, 4: 5, 7: 1, 8: 1, 12: 1, 45: 2, 92: 1})

In [8]:
#31. Write a python program to count the number of elements in a list within a specifies range.

def count_range_in_list(li,min, max):
    ctr = 0
    for x in li:
        if min<= x <=max:
            ctr+= 1
    return ctr

list1 = [10,20,30,40,40,40,50,609,78]
print(count_range_in_list(list1,40,100))

5

In [9]:
#32. Write a python program to check whether a lsit contains a sublist

In [10]:
#33. Write a python program to generate all sublists of a list.

In [11]:
#37. Write a python program to find common items from two lists

color1 = "Red","Green","Orange","White"
color2 = "Black","Green","White","Pink"

print(set(color1) & set(color2))

{'White', 'Green'}

In [ ]:
#39. Write a python program to convert a list of multiple