<a href="https://colab.research.google.com/github/ria1994maitra/Practice_Codes/blob/main/w3resource(Set).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a python program to create a set

#In mathematics, a set is a collection of distinct elements. The elements that make up a set can be any kind of things: people, letters of the alphabet, numbers, points in space, lines, other geometrical shapes, variables, or even other sets. Two sets are equal if and only if they have precisely the same elements

x = set()
print(type(x))
n = set([0,1,2,3,4,5])
print(n)
print(type(n))

<class 'set'>
{0, 1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#2. Write a python program to iteration over sets

num_set = set([0,1,2,3,4,5])
for i in num_set:
    print(i)

0
1
2
3
4
5

In [ ]:
#3. Write a python program to add members to a set

color_set = set()
color_set.add("red")
color_set

{'red'}

In [ ]:
#4. Write a python program to remove item from a set

num_set = set([0,11,2,3,45,6,7])
num_set.pop()
num_set

{2, 3, 6, 7, 11, 45}

In [ ]:
#5. Write a python program to remove an item from a set if it is present in the set

num_set = set([0,1,3,4,5,6,6])
num_set.discard(6)
num_set

{0, 1, 3, 4, 5}

In [1]:
#6. Write a Python program to create an intersection of sets.
setx = set(['green','blue'])
sety = set(['blue', 'yellow'])
print("original set elements:")
print(setx)
print(sety)
setz = setx & sety
print(setz)

original set elements:
{'blue', 'green'}
{'blue', 'yellow'}
{'blue'}

In [2]:
#7. Write a Python program to create a union of sets.

setc1 = set(['green','blue'])
setc2 = set(['blue','yellow'])
print("original sets:")
print(setc1)
print(setc2)
setc = setc1 | setc2
print("\nUnion of above sets:")
print(setc)
setn1 = set([1,2,3,4,5,6,7])
setn2 = set([1,5,6,7,8,9])
print("original sets:")
print(setn1)
print(setn2)

setn = setn1 | setn2

print("\nUnion of above sets:")

print(setn)

original sets:
{'blue', 'green'}
{'blue', 'yellow'}

Union of above sets:
{'blue', 'yellow', 'green'}
original sets:
{1, 2, 3, 4, 5, 6, 7}
{1, 5, 6, 7, 8, 9}

Union of above sets:
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
#8. Write a Python program to create set difference.

setc1 = set(["green","blue"])
setc2 = set(["blue","yellow"])
print("original sets:")
print(setc1)
print(setc2)
r1 = setc1.difference(setc2)
print("\nDifference of setc1 - setc2:")
r2 = setc2.difference(setc1)
print("\nDifference of setc2 - setc1:")
print(r2)
setn1 = set([1,1,2,3,4,5])
setn2 = set([1,5,6,7,8,9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.difference(setn2)
print("\nDifference of setn1 - setn2")
print(r1)
r2 = setn2.difference(setn1)
print("\nDifference of setn2 - setn1")
print(r2)

original sets:
{'blue', 'green'}
{'blue', 'yellow'}

Difference of setc1 - setc2:

Difference of setc2 - setc1:
{'yellow'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Difference of setn1 - setn2
{2, 3, 4}

Difference of setn2 - setn1
{8, 9, 6, 7}

In [4]:
#9. 9. Write a Python program to create a symmetric difference.

In [5]:
#10. Write a Python program to check if a set is a subset of another set.
setx = set(["apple","mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])
print("If x is subset of y")
print(setx <= sety)
print(setx.issubset(sety))
print(sety <= setx)
print(sety.issubset(setx))

If x is subset of y
False
False
False
False