<a href="https://colab.research.google.com/github/ria1994maitra/Practice_Codes/blob/main/w3resource(Set).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1. Write a python program to create a set

#In mathematics, a set is a collection of distinct elements. The elements that make up a set can be any kind of things: people, letters of the alphabet, numbers, points in space, lines, other geometrical shapes, variables, or even other sets. Two sets are equal if and only if they have precisely the same elements

x = set()
print(type(x))
n = set([0,1,2,3,4,5])
print(n)
print(type(n))

<class 'set'>
{0, 1, 2, 3, 4, 5}
<class 'set'>

In [3]:
#2. Write a python program to iteration over sets

num_set = set([0,1,2,3,4,5])
for i in num_set:
    print(i)

0
1
2
3
4
5

In [4]:
#3. Write a python program to add members to a set

color_set = set()
color_set.add("red")
color_set

{'red'}

In [5]:
#4. Write a python program to remove item from a set

num_set = set([0,11,2,3,45,6,7])
num_set.pop()
num_set

{2, 3, 6, 7, 11, 45}

In [6]:
#5. Write a python program to remove an item from a set if it is present in the set

num_set = set([0,1,3,4,5,6,6])
num_set.discard(6)
num_set

{0, 1, 3, 4, 5}