<a href="https://colab.research.google.com/github/ria1994maitra/Practice_Codes/blob/main/w3resource(Tuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a python program to create a tuple

x= ()
tuplex = tuple()
tuplex

()

In [ ]:
#2. Write a python program to create a tuple with different data types

tuplex = ('tuple', False,3.3,4,5)
tuplex

('tuple', False, 3.3, 4, 5)

In [ ]:
#3. Write a pyhton program to create a tuple with numbers and print one item.

tuplex = 5,6,7,8,9
print(tuplex)
tuplex = 5,
print(tuplex)

(5, 6, 7, 8, 9)
(5,)

In [ ]:
#4. Write a python program to unpack a tuple in several variables

tuplex = 4,5,6,7
print(tuplex)

v1, v2, v3, v4 = tuplex
print(v1)
print(v2)
print(v3)
print(v4)

(4, 5, 6, 7)
4
5
6
7

In [ ]:
#5. Write a python program to add an item in a tuple

tuplex =(4,5,6,7,8)
print(tuplex)
#tuples are immutable, so you can not add new elements

tuplex = tuplex +(9,)
print(tuplex)

(4, 5, 6, 7, 8)
(4, 5, 6, 7, 8, 9)

In [1]:
#6. Write a Python program to convert a tuple to a string.

tup = ('e','x','e','r','c','i','s','e','s')
str = ''.join(tup)
print(str)

exercises

In [2]:
#7. Write a Python program to get the 4th element and 4th element from last of a tuple

tuplex = ("w",3,"r",'e','s','o','u','r','c','e')
print(tuplex)
item = tuplex[3]
print(item)
item1 = tuplex[-4]
print(item1)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
e
u

In [3]:
#8. Write a Python program to create the colon of a tuple.
from copy import deepcopy
tuplex = ("hello",5,[],True)
print(tuplex)
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append(50)
print(tuplex_colon)
print(tuplex)

('hello', 5, [], True)
('hello', 5, [50], True)
('hello', 5, [], True)

In [5]:
#9. Write a Python program to find the repeated items of a tuple.
tuplex = 2,3,4,56,6,78,7,4
print(tuplex)
count = tuplex.count(4)
print(count)

(2, 3, 4, 56, 6, 78, 7, 4)
2

In [6]:
#10. Write a Python program to check whether an element exists within a tuple
tuplex = ("w",3,"r","e","s","o","u","r","c","e")
print("r" in tuplex)
print(5 in tuplex)

True
False